*.pyc
.vscode
output
build
diff_rasterization/diff_rast.egg-info
diff_rasterization/dist
tensorboard_3d
screenshots
argument/
scripts/
assets/
*.sh 
.ply
__pycache__/
output/
snapshot_fw.dump
encoders/sam_encoder/checkpoints
*.ckpt
